{% extends 'base.html' %}

{% block title %}
Create
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Create your article</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" placeholder="Enter post title"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Enter post intro"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Enter post text"></textarea><br>
        <input type="submit" class="btn btn-success" value="Send">
    </form>
</div>
{% endblock %}